@media (max-width: 1265px) {
  .pari {
    &__info {
      .pari-block-info-left {
        &__list {
          ul {
            grid-column-gap: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .pari {
    .pari-block {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
      &__info {
        grid-template-columns: 1fr;
        .pari-block-info-right {
          display: none;
        }
        .pari-block-info-right-media {
          border-radius: 15px;
          background-image: none;
          padding-top: 0px;
          display: block;
          border: 1px solid #7a7e9b33;
          background: linear-gradient(
              133.53deg,
              #313446 -11.18%,
              #070b1f 110.94%
            ),
            linear-gradient(
              0deg,
              rgba(122, 126, 155, 0.2),
              rgba(122, 126, 155, 0.2)
            ),
            linear-gradient(0deg, #f7f8fd, #f7f8fd);
          margin-bottom: 20px;
        }
        .pari-block-info-left {
          padding: 10px;
          &__logo {
            padding: 34px 15px;
            margin-right: 10px;
          }
          &__info {
            display: flex;
            flex-direction: column;
          }
          &__platform {
            left: 181px;
            top: 100px;
            ul {
              flex-direction: row-reverse;
              justify-content: flex-end;
            }
          }
          &__list {
            ul {
              grid-template-columns: 1fr;
              li {
                &:nth-child(n + 5):nth-child(-n + 6) {
                  display: none;
                }
              }
            }
          }
          &__payment {
            .payment {
              justify-content: flex-start;
            }
          }
          .pari-block-info-left-info-name {
            font-size: 16px;
          }
          .pari-block-info-left-info-rating {
            order: 3;
            margin: 0px;
          }
          .pari-block-info-left-info-games {
            margin: 5px 0px 8px 0px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .padding20 {
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .bwin {
    .bwin-section {
      &__text {
        .bwin-section_text-info {
          font-size: 12px;
          max-width: 200px;
        }
      }
      &__block {
        column-gap: 10px;
        .bwin-section_block-column {
          .payment {
            grid-column-gap: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .bwin {
    .bwin-section {
      &__text {
        .bwin-section_text-info {
          max-width: 285px;
        }
      }
      &__block {
        flex-direction: column;
        row-gap: 20px;
        .bwin-section_block-column {
          justify-content: flex-start;
          ul {
            flex-direction: row;
            width: 100%;
            column-gap: 25px;
            row-gap: 15px;
            justify-content: flex-start;
          }
          .payment {
            display: none;
          }
        }
        .bwin-payment {
          order: 4;
        }
        .bwin-buttons {
          order: 3;
          flex-direction: row;
          column-gap: 10px;
        }
      }
    }
    &__info {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
    }
  }

  .media-payment {
    display: flex;
    list-style: none;
    padding: 0px;
    column-gap: 15px;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .bwin-rating {
    .stars-list {
      li {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  .bwin {
    .bwin-section {
      .bwin-bonus {
        left: auto;
        right: -48px;
      }
    }
  }
}

@media (max-width: 500px) {
  .pari {
    .pari-block {
      &__info {
        .pari-block-info-left {
          &__payment {
            .payment {
              flex-wrap: wrap;
              row-gap: 10px;
              li {
                width: 56px;
                height: 35px;
                &:nth-child(7) {
                  display: none;
                }
                &:nth-child(8) {
                  display: none;
                }
              }
            }
          }
          &__platform {
            left: 140px;
            top: 88px;
            ul {
              .apple {
                &::before {
                  margin-right: 8px;
                }
              }
              .android {
                &::before {
                  margin-right: 8px;
                }
              }
              .windows {
                &::before {
                  margin-right: 8px;
                }
              }
            }
          }
          &__logo {
            svg {
              width: 90px;
              height: 28px;
            }
          }
          &__list {
            ul {
              li {
                font-size: 12px;
              }
            }
          }
        }
        .pari-block-info-right {
          &__bonus {
            font-size: 12px;
          }
          &__info {
            font-size: 18px;
          }
          &__text {
            line-height: 20px;
          }
        }
      }
    }
    .pari-text {
      padding: 10px;
      &__info {
        font-size: 12px;
      }
      &__person {
        .pari-text-person-name {
          font-size: 14px;
        }
        .pari-text-person-post {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .pari {
    .pari-block {
      &__info {
        .pari-block-info-left {
          &__payment {
            .payment {
              column-gap: 4px;
              li {
                width: 43px;
                height: 27px;
              }
            }
          }
          &__platform {
            left: 10px;
            top: 95px;
          }
          &__logo {
            padding: 27px 11px;
            svg {
              width: 52px;
              height: 16px;
            }
          }
          &__list {
            margin-top: 23px;
          }
          .pari-block-info-left-info-name {
            font-size: 14px;
          }
        }
      }
    }
    //   .pari-text {
    //     padding: 10px;
    //     &__info {
    //       font-size: 12px;
    //     }
    //     &__person {
    //       .pari-text-person-name {
    //         font-size: 14px;
    //       }
    //       .pari-text-person-post {
    //         font-size: 10px;
    //       }
    //     }
    //   }
  }
}
