body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #72768d;
}

.container {
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  padding: 20px; /* Внутренний отступ внутри контейнера */
  background-color: #ffffff; /* Фоновый цвет контейнера */
}

.bwin {
  .bwin-section {
    background: #f7f8fd;
    border-radius: 15px;
    padding: 25px 0px 15px 0px;
    margin-bottom: 15px;
    position: relative;
    .bwin-bonus {
      position: absolute;
      display: inline-block;
      top: -4px;
      left: 50%;
      transform: translate(-50%, 0);
      &:before {
        content: "BEST BONUS";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: 500;
      }
    }
    &__head {
      margin-bottom: 25px;
      padding: 0px 15px;
    }
    &__block {
      display: flex;
      justify-content: space-between;
      border-top: 2px #ebecf599 solid;
      padding: 15px 15px 0px 15px;
      column-gap: 15px;
      .bwin-section_block-column {
        display: flex;
        justify-content: space-between;
        ul {
          margin: 0px;
          padding: 0px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            list-style: none;
            text-wrap: nowrap;
          }
        }
        .payment {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-column-gap: 20px;
          grid-row-gap: 15px;
        }
        .more-info,
        .hide-info {
          font-size: 13px;
          color: #a6aac3;
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          &::before {
            content: "";
            width: 86px;
            height: 2px;
            display: inline-block;
            background: #a6aac3;
            margin-right: 11px;
          }
          &::after {
            content: "";
            width: 86px;
            height: 2px;
            display: inline-block;
            background: #a6aac3;
            margin-left: 11px;
          }
          .arr-more-info {
            background-image: url(../img/arrow-botom.svg);
            background-repeat: no-repeat;
            display: inline-block;
            width: 7px;
            height: 4px;
            margin-left: 9.5px;
          }
          .arr-hide-info {
            background-image: url(../img/hide-arr.svg);
            background-repeat: no-repeat;
            display: inline-block;
            width: 7px;
            height: 4px;
            margin-left: 9.5px;
          }
        }
      }
      .bwin-payment {
        flex-direction: column;
      }
      .bwin-buttons {
        flex-direction: column;
        row-gap: 20px;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bwin-section_text-bonus {
        font-weight: 600;
        display: flex;
        &:before {
          content: url("../img/present.svg");
          display: inline-block;
          margin-right: 7.5px;
        }
      }
      .bwin-section_text-promo {
        font-size: 24px;
        color: #313446;
        font-weight: 600;
      }
      .bwin-section_text-info {
        max-width: 280px;
        line-height: 20px;
      }
    }
    &__logo {
      margin-right: 18px;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 37% 1fr 1fr;
    grid-column-gap: 15px;
    background: #f1f3fd;
    border-top: 2px rgba(235, 236, 245, 0.6) solid;
    padding: 15px;
    margin-top: -15px;
    margin-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
    .bwin-section-info-text {
      line-height: 25px;
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          display: flex;
        }
      }
      &:not(:nth-child(2)) {
        border: 2px solid #ebecf5;
        border-radius: 10px;
        padding: 15px;
      }
    }
  }
}

.claim-btn {
  outline: none;
  border: none;
  background: #53af1b;
  color: #fff;
  padding: 19px 48px;
  border-radius: 10px;
  cursor: pointer;
}

.read-btn {
  outline: none;
  border: none;
  background: #ebecf57d;
  color: #6f728c;
  padding: 19px 48px;
  border-radius: 10px;
  cursor: pointer;
}

.bwin-rating {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &__block {
    &:first-child,
    &:last-child {
      display: flex;
      align-items: center;
    }
  }
  &__text {
    color: #313446;
    font-size: 18px;
    font-weight: bold;
  }
  &__numb {
    color: #313446;
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
  }
  &__icon {
    margin: 0px 10px 0px 14px;
  }
}

.stars-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.star {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  list-style: none;
  margin-right: 2px;
}

.rocket {
  &::before {
    content: url("../img/rocket.svg");
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }
}

.like {
  &::before {
    content: url(../img/like.svg);
    width: 17px;
    height: 18px;
    margin-right: 10px;
    display: block;
    padding-top: 3px;
  }
}

.dislike {
  &::before {
    content: url("../img/dislike.svg");
    width: 17px;
    height: 18px;
    margin-right: 10px;
    display: block;
    padding-top: 3px;
  }
}

.media-payment {
  display: none;
}

.payment {
  li {
    width: 53px;
    height: 34px;
    background: #ebecf5a6;
    border-radius: 5px;
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .mscard {
    &::before {
      content: url(../img/Masterrcard.svg);
      width: 26px;
      height: 20px;
    }
  }
  .discover {
    &::before {
      content: url(../img/Discover.svg);
      width: 34px;
      height: 18px;
    }
  }
  .amexpress {
    &::before {
      content: url(../img/amex.svg);
      width: 26px;
      height: 18px;
    }
  }
  .maestro {
    &::before {
      content: url(../img/Maestro.svg);
      width: 26px;
      height: 20px;
    }
  }
  .union {
    &::before {
      content: url(../img/UnionPay.svg);
      width: 23px;
      height: 15px;
    }
  }
  .jcb {
    &::before {
      content: url(../img/JCB.svg);
      width: 20px;
      height: 15px;
    }
  }

  .mscard2 {
    &::before {
      content: url(../img/mscard2.svg);
      width: 35px;
      height: 27px;
    }
  }
  .discover2 {
    &::before {
      content: url(../img/discover2.svg);
      width: 45px;
      height: 8px;
      margin-top: -6px;
    }
  }
  .amexpress2 {
    &::before {
      content: url(../img/amex2.svg);
      width: 34px;
      height: 23px;
    }
  }
  .maestro2 {
    &::before {
      content: url(../img/maestro2.svg);
      width: 35px;
      height: 27px;
    }
  }
  .union2 {
    &::before {
      content: url(../img/union2.svg);
      width: 31px;
      height: 20px;
    }
  }
}

.pari {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  .pari-block {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
    &__info {
      display: grid;
      grid-template-columns: 1fr 330px;
      background: linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%),
        linear-gradient(0deg, #f7f8fd, #f7f8fd);
      color: #72768d;
      border-radius: 15px;
      .pari-block-info-left {
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: 1fr auto auto;
        position: relative;
        grid-row-gap: 24px;
        &__logo {
          background: linear-gradient(
            162.97deg,
            #313446 -13.44%,
            #070b1f 150.61%
          );
          padding: 40px 44px;
          display: inline-block;
          border-radius: 10px;
          margin-right: 20px;
          max-width: 217px;
        }
        &__info {
          .pari-block-info-left-info-name {
            font-size: 20px;
            color: #fff;
            font-weight: 500;
          }
          .pari-block-info-left-info-rating {
            display: flex;
            margin: 5px 0px 15px 0px;
            span {
              color: #fff;
              font-weight: 500;
              margin-right: 5px;
            }
          }
        }
        &__platform {
          position: absolute;
          right: 20px;
          top: 20px;
          ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: flex;
            align-items: center;
            column-gap: 20px;
            li {
            }
            .windows {
              display: flex;
              align-items: flex-start;
              &::before {
                content: url(../img/wind.svg);
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 20px;
              }
              &::after {
                content: url("../img/cross.svg");
                display: inline-block;
                width: 8px;
                height: 8px;
              }
            }
            .apple {
              display: flex;
              &::before {
                content: url(../img/Apple.svg);
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 20px;
              }
              &::after {
                content: url(../img/tick.svg);
                display: inline-block;
                width: 11px;
                height: 8px;
                margin-top: 2px;
              }
            }
            .android {
              display: flex;
              &::before {
                content: url(../img/Android.svg);
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 20px;
              }
              &::after {
                content: url(../img/tick.svg);
                display: inline-block;
                width: 11px;
                height: 8px;
                margin-top: 2px;
              }
            }
          }
        }
        &__list {
          grid-column-start: 1;
          grid-column-end: 4;
          ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-row-gap: 15px;
            grid-column-gap: 40px;
            li {
              display: flex;
              color: #fff;
            }
          }
        }
        &__payment {
          grid-column-start: 1;
          grid-column-end: 4;
          .payment {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: flex;
            column-gap: 10px;
            justify-content: space-between;
            li {
              width: 69px;
              height: 44px;
              background: #31364a8c;
            }
          }
        }
      }
      .pari-block-info-right {
        background-image: url("../img/pari-match-logo.svg"),
          linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%);
        background-repeat: no-repeat;
        padding-top: 107px;
        border-radius: 0px 15px 15px;
        &__bonus {
          color: #ff9900;
          display: flex;
          align-items: center;
          &::before {
            content: url(../img/present.svg);
            display: inline-block;
            margin-right: 5px;
          }
        }
        &__info {
          color: #fff;
          font-size: 24px;
          font-weight: 600;
        }
        &__text {
          font-size: 12px;
          line-height: 25px;
        }
        .claim-btn {
          width: 100%;
        }
        .pari-block-info-right-grid {
          display: grid;
          grid-row-gap: 10px;
        }
      }
    }
    &__list {
      background: #f7f8fd;
      border-radius: 15px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .pari-block-list-info {
        display: grid;
        grid-template-columns: auto 1fr;
        .pari-block-list-bold {
          color: #000;
          font-weight: 600;
          grid-column-start: 2;
          grid-column-end: 3;
        }
        .pari-block-list-text {
          color: #72768d;
          grid-column-start: 2;
          grid-column-end: 3;
        }
      }
      .list-item1 {
        &::before {
          content: url("../img/list-item1.svg");
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
      }
      .list-item2 {
        &::before {
          content: url("../img/list-item2.svg");
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
      }
      .list-item3 {
        &::before {
          content: url("../img/list-item3.svg");
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
      }
      .list-item4 {
        &::before {
          content: url("../img/list-item4.svg");
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
      }
      .list-item5 {
        &::before {
          content: url("../img/list-item5.svg");
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
      }
    }
  }
  .pari-text {
    background: #f7f8fd;
    border-radius: 15px;
    padding: 20px;
    max-width: 1525px;
    &__person {
      display: grid;
      grid-template-columns: auto 1fr;
      margin-bottom: 7px;
      &::before {
        content: url("../img/person.svg");
        margin-right: 10px;
        height: 10px;
      }
      .pari-text-person-name {
        font-size: 18px;
        font-weight: 600;
        color: #313446;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .pari-text-person-post {
        color: #7a7e9b;
        font-size: 12px;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
    &__info {
      line-height: 25px;
      color: #7a7e9b;
    }
  }
}
.padding20 {
  padding: 20px;
}

.pari-block-info-right-media {
  display: none;
}

.table {
  border-collapse: collapse;
  color: #000;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  &__head {
    background: #f5f5f5;
    padding: 4px 48px 4px 8px;
    border-radius: 15px 15px 15px 15px;
    td {
      padding: 4px 0px;
      &:first-child {
        padding-left: 8px;
        border-top-left-radius: 10px;
      }
      &:last-child {
        padding-right: 48px;
        text-align: right;
        border-top-right-radius: 10px;
      }
      &:nth-child(n + 2):nth-child(-n + 7) {
        width: 30px;
        text-align: center;
      }
    }
  }
  &__item {
    background: linear-gradient(0deg, #005283, #005283),
      linear-gradient(0deg, #3c647b, #3c647b);
    color: #fff;
    td {
      padding: 8px 0px;
      &:first-child {
        padding-left: 8px;
        display: flex;
        align-items: center;
        text-decoration: underline;
        &:before {
          content: url("../img/slh.svg");
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
      &:last-child {
        padding-right: 24px;
        text-align: right;
      }
      ul {
        list-style: none;
        display: flex;
        column-gap: 4px;
        padding: 0px;
        margin: 0px;
        justify-content: flex-end;
        li {
          background: #db0202;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .green {
          background: #4ec757;
        }
        .gray {
          background: #9b9b9b;
        }
      }
      &:nth-child(n + 2):nth-child(-n + 7) {
        width: 30px;
        text-align: center;
      }
    }
  }
}

.arr-table {
  background: url(../img/arr-table.svg) no-repeat;
  display: inline-block;
  width: 14px;
  height: 8px;
  margin-left: 35px;
  cursor: pointer;
}

.dropdown {
  display: none;
  table {
    width: 100%;
    border-collapse: collapse;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  &__head {
    background: #deecfa;
    box-shadow: 0px 3px 1px 0px #bdbfc040 inset;
    td {
      padding: 4px 0px;
      width: 33%;
      &:first-child {
        padding-left: 8px;
      }
    }
  }
  &__item {
    background: #f5f5f5;
    td {
      padding: 10px 0px;
      &:first-child {
        padding-left: 8px;
        text-decoration: underline;
        display: flex;
        align-items: center;
        &:before {
          content: url("../img/slh.svg");
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
      &:last-child {
        text-decoration: underline;
        &:before {
          content: "L";
          width: 20px;
          height: 20px;
          margin-right: 8px;
          color: #fff;
          background: #db0202;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.td-green {
  &:before {
    content: "W" !important;
    background: #4ec757 !important;
  }
}

.td-gray {
  &:before {
    content: "N" !important;
    background: #9b9b9b !important;
  }
}

.table-white {
  td {
    color: #000;
    ul {
      li {
        color: #fff;
      }
    }
  }
  .table__item {
    background: linear-gradient(0deg, #f5f5f5, #f5f5f5),
      linear-gradient(0deg, #ffffff, #ffffff);
  }
}

.arr-table-black {
  content: url(../img/arr-table-black.svg);
}

.notes {
  color: #000;
  line-height: 25px;
  border: 2px dotted #000;
  background: linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #ffffff, #ffffff);
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
}

@import "media-queries";
