@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #72768d;
}

.container {
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  padding: 20px; /* Внутренний отступ внутри контейнера */
  background-color: #ffffff; /* Фоновый цвет контейнера */
}

.bwin .bwin-section {
  background: #f7f8fd;
  border-radius: 15px;
  padding: 25px 0px 15px 0px;
  margin-bottom: 15px;
  position: relative;
}
.bwin .bwin-section .bwin-bonus {
  position: absolute;
  display: inline-block;
  top: -4px;
  left: 50%;
  transform: translate(-50%, 0);
}
.bwin .bwin-section .bwin-bonus:before {
  content: "BEST BONUS";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 500;
}
.bwin .bwin-section__head {
  margin-bottom: 25px;
  padding: 0px 15px;
}
.bwin .bwin-section__block {
  display: flex;
  justify-content: space-between;
  border-top: 2px rgba(235, 236, 245, 0.6) solid;
  padding: 15px 15px 0px 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.bwin .bwin-section__block .bwin-section_block-column {
  display: flex;
  justify-content: space-between;
}
.bwin .bwin-section__block .bwin-section_block-column ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bwin .bwin-section__block .bwin-section_block-column ul li {
  list-style: none;
  text-wrap: nowrap;
}
.bwin .bwin-section__block .bwin-section_block-column .payment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
.bwin .bwin-section__block .bwin-section_block-column .more-info,
.bwin .bwin-section__block .bwin-section_block-column .hide-info {
  font-size: 13px;
  color: #a6aac3;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.bwin .bwin-section__block .bwin-section_block-column .more-info::before,
.bwin .bwin-section__block .bwin-section_block-column .hide-info::before {
  content: "";
  width: 86px;
  height: 2px;
  display: inline-block;
  background: #a6aac3;
  margin-right: 11px;
}
.bwin .bwin-section__block .bwin-section_block-column .more-info::after,
.bwin .bwin-section__block .bwin-section_block-column .hide-info::after {
  content: "";
  width: 86px;
  height: 2px;
  display: inline-block;
  background: #a6aac3;
  margin-left: 11px;
}
.bwin .bwin-section__block .bwin-section_block-column .more-info .arr-more-info,
.bwin .bwin-section__block .bwin-section_block-column .hide-info .arr-more-info {
  background-image: url(../img/arrow-botom.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 9.5px;
}
.bwin .bwin-section__block .bwin-section_block-column .more-info .arr-hide-info,
.bwin .bwin-section__block .bwin-section_block-column .hide-info .arr-hide-info {
  background-image: url(../img/hide-arr.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 9.5px;
}
.bwin .bwin-section__block .bwin-payment {
  flex-direction: column;
}
.bwin .bwin-section__block .bwin-buttons {
  flex-direction: column;
  row-gap: 20px;
}
.bwin .bwin-section__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bwin .bwin-section__text .bwin-section_text-bonus {
  font-weight: 600;
  display: flex;
}
.bwin .bwin-section__text .bwin-section_text-bonus:before {
  content: url("../img/present.svg");
  display: inline-block;
  margin-right: 7.5px;
}
.bwin .bwin-section__text .bwin-section_text-promo {
  font-size: 24px;
  color: #313446;
  font-weight: 600;
}
.bwin .bwin-section__text .bwin-section_text-info {
  max-width: 280px;
  line-height: 20px;
}
.bwin .bwin-section__logo {
  margin-right: 18px;
}
.bwin__info {
  display: grid;
  grid-template-columns: 37% 1fr 1fr;
  grid-column-gap: 15px;
  background: #f1f3fd;
  border-top: 2px rgba(235, 236, 245, 0.6) solid;
  padding: 15px;
  margin-top: -15px;
  margin-bottom: 15px;
  border-radius: 0px 0px 10px 10px;
}
.bwin__info .bwin-section-info-text {
  line-height: 25px;
}
.bwin__info .bwin-section-info-text ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.bwin__info .bwin-section-info-text ul li {
  display: flex;
}
.bwin__info .bwin-section-info-text:not(:nth-child(2)) {
  border: 2px solid #ebecf5;
  border-radius: 10px;
  padding: 15px;
}

.claim-btn {
  outline: none;
  border: none;
  background: #53af1b;
  color: #fff;
  padding: 19px 48px;
  border-radius: 10px;
  cursor: pointer;
}

.read-btn {
  outline: none;
  border: none;
  background: rgba(235, 236, 245, 0.4901960784);
  color: #6f728c;
  padding: 19px 48px;
  border-radius: 10px;
  cursor: pointer;
}

.bwin-rating {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.bwin-rating__block:first-child, .bwin-rating__block:last-child {
  display: flex;
  align-items: center;
}
.bwin-rating__text {
  color: #313446;
  font-size: 18px;
  font-weight: bold;
}
.bwin-rating__numb {
  color: #313446;
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
}
.bwin-rating__icon {
  margin: 0px 10px 0px 14px;
}

.stars-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.star {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  list-style: none;
  margin-right: 2px;
}

.rocket::before {
  content: url("../img/rocket.svg");
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.like::before {
  content: url(../img/like.svg);
  width: 17px;
  height: 18px;
  margin-right: 10px;
  display: block;
  padding-top: 3px;
}

.dislike::before {
  content: url("../img/dislike.svg");
  width: 17px;
  height: 18px;
  margin-right: 10px;
  display: block;
  padding-top: 3px;
}

.media-payment {
  display: none;
}

.payment li {
  width: 53px;
  height: 34px;
  background: rgba(235, 236, 245, 0.6509803922);
  border-radius: 5px;
  position: relative;
}
.payment li:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.payment .mscard::before {
  content: url(../img/Masterrcard.svg);
  width: 26px;
  height: 20px;
}
.payment .discover::before {
  content: url(../img/Discover.svg);
  width: 34px;
  height: 18px;
}
.payment .amexpress::before {
  content: url(../img/amex.svg);
  width: 26px;
  height: 18px;
}
.payment .maestro::before {
  content: url(../img/Maestro.svg);
  width: 26px;
  height: 20px;
}
.payment .union::before {
  content: url(../img/UnionPay.svg);
  width: 23px;
  height: 15px;
}
.payment .jcb::before {
  content: url(../img/JCB.svg);
  width: 20px;
  height: 15px;
}
.payment .mscard2::before {
  content: url(../img/mscard2.svg);
  width: 35px;
  height: 27px;
}
.payment .discover2::before {
  content: url(../img/discover2.svg);
  width: 45px;
  height: 8px;
  margin-top: -6px;
}
.payment .amexpress2::before {
  content: url(../img/amex2.svg);
  width: 34px;
  height: 23px;
}
.payment .maestro2::before {
  content: url(../img/maestro2.svg);
  width: 35px;
  height: 27px;
}
.payment .union2::before {
  content: url(../img/union2.svg);
  width: 31px;
  height: 20px;
}

.pari {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.pari .pari-block {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 10px;
}
.pari .pari-block__info {
  display: grid;
  grid-template-columns: 1fr 330px;
  background: linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%), linear-gradient(0deg, #f7f8fd, #f7f8fd);
  color: #72768d;
  border-radius: 15px;
}
.pari .pari-block__info .pari-block-info-left {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr auto auto;
  position: relative;
  grid-row-gap: 24px;
}
.pari .pari-block__info .pari-block-info-left__logo {
  background: linear-gradient(162.97deg, #313446 -13.44%, #070b1f 150.61%);
  padding: 40px 44px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 20px;
  max-width: 217px;
}
.pari .pari-block__info .pari-block-info-left__info .pari-block-info-left-info-name {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.pari .pari-block__info .pari-block-info-left__info .pari-block-info-left-info-rating {
  display: flex;
  margin: 5px 0px 15px 0px;
}
.pari .pari-block__info .pari-block-info-left__info .pari-block-info-left-info-rating span {
  color: #fff;
  font-weight: 500;
  margin-right: 5px;
}
.pari .pari-block__info .pari-block-info-left__platform {
  position: absolute;
  right: 20px;
  top: 20px;
}
.pari .pari-block__info .pari-block-info-left__platform ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.pari .pari-block__info .pari-block-info-left__platform ul .windows {
  display: flex;
  align-items: flex-start;
}
.pari .pari-block__info .pari-block-info-left__platform ul .windows::before {
  content: url(../img/wind.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 20px;
}
.pari .pari-block__info .pari-block-info-left__platform ul .windows::after {
  content: url("../img/cross.svg");
  display: inline-block;
  width: 8px;
  height: 8px;
}
.pari .pari-block__info .pari-block-info-left__platform ul .apple {
  display: flex;
}
.pari .pari-block__info .pari-block-info-left__platform ul .apple::before {
  content: url(../img/Apple.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.pari .pari-block__info .pari-block-info-left__platform ul .apple::after {
  content: url(../img/tick.svg);
  display: inline-block;
  width: 11px;
  height: 8px;
  margin-top: 2px;
}
.pari .pari-block__info .pari-block-info-left__platform ul .android {
  display: flex;
}
.pari .pari-block__info .pari-block-info-left__platform ul .android::before {
  content: url(../img/Android.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.pari .pari-block__info .pari-block-info-left__platform ul .android::after {
  content: url(../img/tick.svg);
  display: inline-block;
  width: 11px;
  height: 8px;
  margin-top: 2px;
}
.pari .pari-block__info .pari-block-info-left__list {
  grid-column-start: 1;
  grid-column-end: 4;
}
.pari .pari-block__info .pari-block-info-left__list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 40px;
}
.pari .pari-block__info .pari-block-info-left__list ul li {
  display: flex;
  color: #fff;
}
.pari .pari-block__info .pari-block-info-left__payment {
  grid-column-start: 1;
  grid-column-end: 4;
}
.pari .pari-block__info .pari-block-info-left__payment .payment {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
}
.pari .pari-block__info .pari-block-info-left__payment .payment li {
  width: 69px;
  height: 44px;
  background: rgba(49, 54, 74, 0.5490196078);
}
.pari .pari-block__info .pari-block-info-right {
  background-image: url("../img/pari-match-logo.svg"), linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%);
  background-repeat: no-repeat;
  padding-top: 107px;
  border-radius: 0px 15px 15px;
}
.pari .pari-block__info .pari-block-info-right__bonus {
  color: #ff9900;
  display: flex;
  align-items: center;
}
.pari .pari-block__info .pari-block-info-right__bonus::before {
  content: url(../img/present.svg);
  display: inline-block;
  margin-right: 5px;
}
.pari .pari-block__info .pari-block-info-right__info {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.pari .pari-block__info .pari-block-info-right__text {
  font-size: 12px;
  line-height: 25px;
}
.pari .pari-block__info .pari-block-info-right .claim-btn {
  width: 100%;
}
.pari .pari-block__info .pari-block-info-right .pari-block-info-right-grid {
  display: grid;
  grid-row-gap: 10px;
}
.pari .pari-block__list {
  background: #f7f8fd;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.pari .pari-block__list .pari-block-list-info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.pari .pari-block__list .pari-block-list-info .pari-block-list-bold {
  color: #000;
  font-weight: 600;
  grid-column-start: 2;
  grid-column-end: 3;
}
.pari .pari-block__list .pari-block-list-info .pari-block-list-text {
  color: #72768d;
  grid-column-start: 2;
  grid-column-end: 3;
}
.pari .pari-block__list .list-item1::before {
  content: url("../img/list-item1.svg");
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.pari .pari-block__list .list-item2::before {
  content: url("../img/list-item2.svg");
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.pari .pari-block__list .list-item3::before {
  content: url("../img/list-item3.svg");
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.pari .pari-block__list .list-item4::before {
  content: url("../img/list-item4.svg");
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.pari .pari-block__list .list-item5::before {
  content: url("../img/list-item5.svg");
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.pari .pari-text {
  background: #f7f8fd;
  border-radius: 15px;
  padding: 20px;
  max-width: 1525px;
}
.pari .pari-text__person {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 7px;
}
.pari .pari-text__person::before {
  content: url("../img/person.svg");
  margin-right: 10px;
  height: 10px;
}
.pari .pari-text__person .pari-text-person-name {
  font-size: 18px;
  font-weight: 600;
  color: #313446;
  grid-column-start: 2;
  grid-column-end: 3;
}
.pari .pari-text__person .pari-text-person-post {
  color: #7a7e9b;
  font-size: 12px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.pari .pari-text__info {
  line-height: 25px;
  color: #7a7e9b;
}

.padding20 {
  padding: 20px;
}

.pari-block-info-right-media {
  display: none;
}

.table {
  border-collapse: collapse;
  color: #000;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.table__head {
  background: #f5f5f5;
  padding: 4px 48px 4px 8px;
  border-radius: 15px 15px 15px 15px;
}
.table__head td {
  padding: 4px 0px;
}
.table__head td:first-child {
  padding-left: 8px;
  border-top-left-radius: 10px;
}
.table__head td:last-child {
  padding-right: 48px;
  text-align: right;
  border-top-right-radius: 10px;
}
.table__head td:nth-child(n+2):nth-child(-n+7) {
  width: 30px;
  text-align: center;
}
.table__item {
  background: linear-gradient(0deg, #005283, #005283), linear-gradient(0deg, #3c647b, #3c647b);
  color: #fff;
}
.table__item td {
  padding: 8px 0px;
}
.table__item td:first-child {
  padding-left: 8px;
  display: flex;
  align-items: center;
  text-decoration: underline;
}
.table__item td:first-child:before {
  content: url("../img/slh.svg");
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.table__item td:last-child {
  padding-right: 24px;
  text-align: right;
}
.table__item td ul {
  list-style: none;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
}
.table__item td ul li {
  background: #db0202;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__item td ul .green {
  background: #4ec757;
}
.table__item td ul .gray {
  background: #9b9b9b;
}
.table__item td:nth-child(n+2):nth-child(-n+7) {
  width: 30px;
  text-align: center;
}

.arr-table {
  background: url(../img/arr-table.svg) no-repeat;
  display: inline-block;
  width: 14px;
  height: 8px;
  margin-left: 35px;
  cursor: pointer;
}

.dropdown {
  display: none;
}
.dropdown table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.dropdown__head {
  background: #deecfa;
  box-shadow: 0px 3px 1px 0px rgba(189, 191, 192, 0.2509803922) inset;
}
.dropdown__head td {
  padding: 4px 0px;
  width: 33%;
}
.dropdown__head td:first-child {
  padding-left: 8px;
}
.dropdown__item {
  background: #f5f5f5;
}
.dropdown__item td {
  padding: 10px 0px;
}
.dropdown__item td:first-child {
  padding-left: 8px;
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.dropdown__item td:first-child:before {
  content: url("../img/slh.svg");
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.dropdown__item td:last-child {
  text-decoration: underline;
}
.dropdown__item td:last-child:before {
  content: "L";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #fff;
  background: #db0202;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.td-green:before {
  content: "W" !important;
  background: #4ec757 !important;
}

.td-gray:before {
  content: "N" !important;
  background: #9b9b9b !important;
}

.table-white td {
  color: #000;
}
.table-white td ul li {
  color: #fff;
}
.table-white .table__item {
  background: linear-gradient(0deg, #f5f5f5, #f5f5f5), linear-gradient(0deg, #ffffff, #ffffff);
}

.arr-table-black {
  content: url(../img/arr-table-black.svg);
}

.notes {
  color: #000;
  line-height: 25px;
  border: 2px dotted #000;
  background: linear-gradient(0deg, #f5f5f5, #f5f5f5), linear-gradient(0deg, #ffffff, #ffffff);
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
}

@media (max-width: 1265px) {
  .pari__info .pari-block-info-left__list ul {
    grid-column-gap: 20px;
  }
}
@media (max-width: 1250px) {
  .pari .pari-block {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  .pari .pari-block__info {
    grid-template-columns: 1fr;
  }
  .pari .pari-block__info .pari-block-info-right {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-right-media {
    border-radius: 15px;
    background-image: none;
    padding-top: 0px;
    display: block;
    border: 1px solid rgba(122, 126, 155, 0.2);
    background: linear-gradient(133.53deg, #313446 -11.18%, #070b1f 110.94%), linear-gradient(0deg, rgba(122, 126, 155, 0.2), rgba(122, 126, 155, 0.2)), linear-gradient(0deg, #f7f8fd, #f7f8fd);
    margin-bottom: 20px;
  }
  .pari .pari-block__info .pari-block-info-left {
    padding: 10px;
  }
  .pari .pari-block__info .pari-block-info-left__logo {
    padding: 34px 15px;
    margin-right: 10px;
  }
  .pari .pari-block__info .pari-block-info-left__info {
    display: flex;
    flex-direction: column;
  }
  .pari .pari-block__info .pari-block-info-left__platform {
    left: 181px;
    top: 100px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .pari .pari-block__info .pari-block-info-left__list ul {
    grid-template-columns: 1fr;
  }
  .pari .pari-block__info .pari-block-info-left__list ul li:nth-child(n+5):nth-child(-n+6) {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment {
    justify-content: flex-start;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-name {
    font-size: 16px;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-rating {
    order: 3;
    margin: 0px;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-games {
    margin: 5px 0px 8px 0px;
    font-size: 12px;
  }
  .padding20 {
    padding: 10px;
  }
}
@media (max-width: 1200px) {
  .bwin .bwin-section__text .bwin-section_text-info {
    font-size: 12px;
    max-width: 200px;
  }
  .bwin .bwin-section__block {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .bwin .bwin-section__block .bwin-section_block-column .payment {
    grid-column-gap: 10px;
  }
}
@media (max-width: 1150px) {
  .bwin .bwin-section__text .bwin-section_text-info {
    max-width: 285px;
  }
  .bwin .bwin-section__block {
    flex-direction: column;
    row-gap: 20px;
  }
  .bwin .bwin-section__block .bwin-section_block-column {
    justify-content: flex-start;
  }
  .bwin .bwin-section__block .bwin-section_block-column ul {
    flex-direction: row;
    width: 100%;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 15px;
    justify-content: flex-start;
  }
  .bwin .bwin-section__block .bwin-section_block-column .payment {
    display: none;
  }
  .bwin .bwin-section__block .bwin-payment {
    order: 4;
  }
  .bwin .bwin-section__block .bwin-buttons {
    order: 3;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .bwin__info {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  .media-payment {
    display: flex;
    list-style: none;
    padding: 0px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .bwin-rating .stars-list li:not(:first-child) {
    display: none;
  }
  .bwin .bwin-section .bwin-bonus {
    left: auto;
    right: -48px;
  }
}
@media (max-width: 500px) {
  .pari .pari-block__info .pari-block-info-left__payment .payment {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li {
    width: 56px;
    height: 35px;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li:nth-child(7) {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li:nth-child(8) {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-left__platform {
    left: 140px;
    top: 88px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul .apple::before {
    margin-right: 8px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul .android::before {
    margin-right: 8px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul .windows::before {
    margin-right: 8px;
  }
  .pari .pari-block__info .pari-block-info-left__logo svg {
    width: 90px;
    height: 28px;
  }
  .pari .pari-block__info .pari-block-info-left__list ul li {
    font-size: 12px;
  }
  .pari .pari-block__info .pari-block-info-right__bonus {
    font-size: 12px;
  }
  .pari .pari-block__info .pari-block-info-right__info {
    font-size: 18px;
  }
  .pari .pari-block__info .pari-block-info-right__text {
    line-height: 20px;
  }
  .pari .pari-text {
    padding: 10px;
  }
  .pari .pari-text__info {
    font-size: 12px;
  }
  .pari .pari-text__person .pari-text-person-name {
    font-size: 14px;
  }
  .pari .pari-text__person .pari-text-person-post {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .pari .pari-block__info .pari-block-info-left__payment .payment {
    -moz-column-gap: 4px;
         column-gap: 4px;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li {
    width: 43px;
    height: 27px;
  }
  .pari .pari-block__info .pari-block-info-left__platform {
    left: 10px;
    top: 95px;
  }
  .pari .pari-block__info .pari-block-info-left__logo {
    padding: 27px 11px;
  }
  .pari .pari-block__info .pari-block-info-left__logo svg {
    width: 52px;
    height: 16px;
  }
  .pari .pari-block__info .pari-block-info-left__list {
    margin-top: 23px;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-name {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */