@media (max-width: 1265px) {
  .pari__info .pari-block-info-left__list ul {
    grid-column-gap: 20px;
  }
}
@media (max-width: 1250px) {
  .pari .pari-block {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  .pari .pari-block__info {
    grid-template-columns: 1fr;
  }
  .pari .pari-block__info .pari-block-info-right {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-right-media {
    border-radius: 15px;
    background-image: none;
    padding-top: 0px;
    display: block;
    border: 1px solid rgba(122, 126, 155, 0.2);
    background: linear-gradient(133.53deg, #313446 -11.18%, #070b1f 110.94%), linear-gradient(0deg, rgba(122, 126, 155, 0.2), rgba(122, 126, 155, 0.2)), linear-gradient(0deg, #f7f8fd, #f7f8fd);
    margin-bottom: 20px;
  }
  .pari .pari-block__info .pari-block-info-left {
    padding: 10px;
  }
  .pari .pari-block__info .pari-block-info-left__logo {
    padding: 34px 15px;
    margin-right: 10px;
  }
  .pari .pari-block__info .pari-block-info-left__info {
    display: flex;
    flex-direction: column;
  }
  .pari .pari-block__info .pari-block-info-left__platform {
    left: 181px;
    top: 100px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .pari .pari-block__info .pari-block-info-left__list ul {
    grid-template-columns: 1fr;
  }
  .pari .pari-block__info .pari-block-info-left__list ul li:nth-child(n+5):nth-child(-n+6) {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment {
    justify-content: flex-start;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-name {
    font-size: 16px;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-rating {
    order: 3;
    margin: 0px;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-games {
    margin: 5px 0px 8px 0px;
    font-size: 12px;
  }
  .padding20 {
    padding: 10px;
  }
}
@media (max-width: 1200px) {
  .bwin .bwin-section__text .bwin-section_text-info {
    font-size: 12px;
    max-width: 200px;
  }
  .bwin .bwin-section__block {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .bwin .bwin-section__block .bwin-section_block-column .payment {
    grid-column-gap: 10px;
  }
}
@media (max-width: 1150px) {
  .bwin .bwin-section__text .bwin-section_text-info {
    max-width: 285px;
  }
  .bwin .bwin-section__block {
    flex-direction: column;
    row-gap: 20px;
  }
  .bwin .bwin-section__block .bwin-section_block-column {
    justify-content: flex-start;
  }
  .bwin .bwin-section__block .bwin-section_block-column ul {
    flex-direction: row;
    width: 100%;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 15px;
    justify-content: flex-start;
  }
  .bwin .bwin-section__block .bwin-section_block-column .payment {
    display: none;
  }
  .bwin .bwin-section__block .bwin-payment {
    order: 4;
  }
  .bwin .bwin-section__block .bwin-buttons {
    order: 3;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .bwin__info {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  .media-payment {
    display: flex;
    list-style: none;
    padding: 0px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .bwin-rating .stars-list li:not(:first-child) {
    display: none;
  }
  .bwin .bwin-section .bwin-bonus {
    left: auto;
    right: -48px;
  }
}
@media (max-width: 500px) {
  .pari .pari-block__info .pari-block-info-left__payment .payment {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li {
    width: 56px;
    height: 35px;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li:nth-child(7) {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li:nth-child(8) {
    display: none;
  }
  .pari .pari-block__info .pari-block-info-left__platform {
    left: 140px;
    top: 88px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul .apple::before {
    margin-right: 8px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul .android::before {
    margin-right: 8px;
  }
  .pari .pari-block__info .pari-block-info-left__platform ul .windows::before {
    margin-right: 8px;
  }
  .pari .pari-block__info .pari-block-info-left__logo svg {
    width: 90px;
    height: 28px;
  }
  .pari .pari-block__info .pari-block-info-left__list ul li {
    font-size: 12px;
  }
  .pari .pari-block__info .pari-block-info-right__bonus {
    font-size: 12px;
  }
  .pari .pari-block__info .pari-block-info-right__info {
    font-size: 18px;
  }
  .pari .pari-block__info .pari-block-info-right__text {
    line-height: 20px;
  }
  .pari .pari-text {
    padding: 10px;
  }
  .pari .pari-text__info {
    font-size: 12px;
  }
  .pari .pari-text__person .pari-text-person-name {
    font-size: 14px;
  }
  .pari .pari-text__person .pari-text-person-post {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .pari .pari-block__info .pari-block-info-left__payment .payment {
    -moz-column-gap: 4px;
         column-gap: 4px;
  }
  .pari .pari-block__info .pari-block-info-left__payment .payment li {
    width: 43px;
    height: 27px;
  }
  .pari .pari-block__info .pari-block-info-left__platform {
    left: 10px;
    top: 95px;
  }
  .pari .pari-block__info .pari-block-info-left__logo {
    padding: 27px 11px;
  }
  .pari .pari-block__info .pari-block-info-left__logo svg {
    width: 52px;
    height: 16px;
  }
  .pari .pari-block__info .pari-block-info-left__list {
    margin-top: 23px;
  }
  .pari .pari-block__info .pari-block-info-left .pari-block-info-left-info-name {
    font-size: 14px;
  }
}/*# sourceMappingURL=media-queries.css.map */